input {
  padding: .5rem 1rem;
  border-radius: .25rem;
  color: var(--white);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--blue-700);
  transition: border-color .2s ease-out, background-color .2s ease-out;
}

input::placeholder {
  color: var(--gray-500);
}

input:focus {
  outline: var(--blue-600);
  border: 1px solid var(--blue-600);
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
