.messages {
  padding: 1.5rem;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-rows: 1fr 3rem;
  align-items: flex-end;
  grid-row-gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 2rem;
  border-radius: calc(var(--gap) / 2);
  border: 1px solid var(--blue-700);

  &__container {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
  }

  &__list {
    display: grid;
    grid-auto-rows: max-content;
    align-items: flex-end;
    grid-row-gap: 1rem;
    align-self: flex-end;
  }
}