.message {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: .5rem;
  height: max-content;
  padding-top: .5rem;
  padding-bottom: .5rem;

  &__header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, max-content);
    gap: .5rem;
    align-items: center;
  }

  &__body {
    padding-left: 2.5rem;
  }

  &__date {
    color: var(--grey-300);
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--orange-400);
  }
}